RECAPTCHA_PRIVATE_KEY=
RECAPTCHA_PUBLIC_KEY=
POSTGRES_PORT_CMS=5432
POSTGRES_DB_CMS=nmhs_cms_init
POSTGRES_PASSWORD_CMS=test1234
POSTGRES_USER_CMS=postgres
DATABASE=postgres
CMS_PORT=3031
AHW_DOCKER_NETWORK=ahw-docker-net
ENVIRONMENT=production
BASE_PATH=
CMS_HOST=127.0.0.1
# Environment
DEBUG=false

NODE_ENV=development

# Analytics
ANALYTICS_PROPERTY_ID=

# Search
GOOGLE_CUSTOM_SEARCH_CX=
GOOGLE_SEARCH_API_KEY=

# Bitly
BITLY_TOKEN=

# APIs
MAPVIEWER_API=http://127.0.0.1:3031/api
MAPVIEWER_PORT=3000

NEXTJS_SERVER_URL=http://cms_mapviewer:3000