#CHECK LATEST RELEASE AT https://github.com/wmo-raf/nmhs-cms/releases
CMS_VERSION=0.5.0
RESTART_POLICY=always

# recaptcha settings
RECAPTCHA_PRIVATE_KEY=
RECAPTCHA_PUBLIC_KEY=

SECRET_KEY=mysecretkey
DJANGO_DEBUG=False

# cms database settings
POSTGRES_PORT_CMS=5432
POSTGRES_DB_CMS=nmhs_cms_db
POSTGRES_PASSWORD_CMS=test1234
POSTGRES_USER_CMS=postgres
CMS_DB_VOLUME=cms/db-data

# origins and hosts
CSRF_TRUSTED_ORIGINS='http://*.127.0.0.1,http://127.0.0.1,http://*.localhost,http://localhost,http://localhost:3031,http://localhost:*, http://127.0.0.1:3031'
ALLOWED_HOSTS='localhost,127.0.0.1'

# email addresses
DJANGO_ADMINS=
DJANGO_APP_DEVELOPERS=
DJANGO_MANAGERS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

# cache
WAGTAIL_CACHE_BACKEND=pagecache
MEMCACHED_URI=cms_memcached:11211

# tmp
FILE_UPLOAD_TEMP_DIR=

ROOT_URL=

# nginx
CMS_PORT=3031
DOCKER_NETWORK=

# geomapviewer settings ----
ENVIRONMENT=production
DEBUG=True
NODE_ENV=development

# Analytics
ANALYTICS_PROPERTY_ID=

# Search
GOOGLE_CUSTOM_SEARCH_CX=
GOOGLE_SEARCH_API_KEY=

# Bitly
BITLY_TOKEN=

# APIs
MAPVIEWER_API=http://127.0.0.1:3031/api
MAPVIEWER_PORT=3000
NEXTJS_SERVER_URL=http://cms_mapviewer:3000
NEXTJS_BASE_PATH=
ASSET_PREFIX=

# Mautic settings
MYSQL_PORT_3306_TCP=3306
MAUTIC_DB_USER=root
MAUTIC_DB_PASSWORD=mysecret
MAUTIC_DB_NAME=mautic
MAUTIC_RUN_CRON_JOBS=true
MYSQL_ROOT_PASSWORD=mysecret
